.navbar__container {
	display: grid;
	grid-template-columns: 125px 1fr 250px;
	align-items: center;
	padding: 2rem;
	position: relative;
}

.navbar__list {
	display: flex;
}

.navbar__account-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar__register {
	border: 1px solid black;
	padding: 0.7rem 1rem;
	border-radius: 10px;
}
